#
# Systemd unit file for prowlarr
#

[Unit]
Description=prowlarr Daemon

[Service]
Type=simple
User={{ prowlarr_user }}
Group={{ prowlarr_group }}
ExecStart={{ prowlarr_base_install_dir }}/Prowlarr/Prowlarr /data={{ prowlarr_config_dir }}
Restart=always
RestartSec=15
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
